{% extends "auctions/layout.html" %}

{% block body %}
        <h2>Active Listing</h2>
        <form action="{% url 'displayCategory' %}" method="POST" class="my-3">
            {% csrf_token %}
            <label for="category">Category</label>
            <select name="category" id="category">
                <option selected>Open this select menu</option>
                <option value="Sedan & Saloon">Sedan & Saloon</option>
                <option value="Hatchback">Hatchback</option>
                <option value="SUV">SUV</option>
                <option value="Coupes">Coupes</option>
                <option value="Truck">Truck</option>
            </select>
            <button type="submit" class="btn btn-info">Select</button>
        </form>
    <div class="row mx-3">
        {% for listing in listings %}
            <div class="card mx-4 my-4" style="width: 18rem;">
                <div class="image-box">
                    <img class="card-img-top" src="{{ listing.url }}" alt="{{ listing.title }}">
                    <div class="content">
                        <h1 font-size="10px">{{ listing.title }}</h1>
                        <p>{{ listing.description }}</p>
                    </div>
                    <div class="row mx-2 my-1">
                    <a href="{% url 'listing' listing.id %}" class="btn btn-info">Details</a>
                    </div>

                </div>
            </div>
    {% endfor %}


{% endblock %}

