{% extends "CRUD/layout.html" %}

{% block title %}
    <title>User Details</title>
{% endblock %}

{% block content %}
    <h1>User Profile</h1>
    {% for user in users %}
        <p><strong>Username:</strong> {{ user.uid }}</p>
        <p><strong>First Name:</strong> {{ user.firstName }}</p>
        <p><strong>Last Name:</strong> {{ user.lastName }}</p>
        <p><strong>Age:</strong> {{ user.age }}</p>
        <p><strong>Profession:</strong> {{ user.profession }}</p>
        <p><strong>Address:</strong> {{ user.Address }}</p>
    {% endfor %}
    <button class="btn btn-warning"><a href="{% url 'update' user.id %}">Update</a></button>
    <button class="btn btn-danger"><a href="{% url 'delete' user.id %}">Delete</a></button>
{% endblock %}
